<h1>About</h1>
  <P>
    <a href="/">「本評価共有アプリ」メインページへ移動</a>
  </P>
<h2>当アプリケーションについて</h2>
  当アプリケーション「本評価共有アプリ」は平成28年度、　部活動の夏季休業中の課題として作成したものです。<br>
  勝手にデータが吹っ飛ぶかもしれません。正常に動かないかもしれません。そのようなことをご理解ご了承したうえでご使用ください。
<h2>その他いろいろ</h2>
