<h1>About</h1>
  <P>
    <a href="/">「本評価共有アプリ」メインページへ移動</a>
  </P>
<h2>当アプリケーションについて</h2>
  当アプリケーション「本評価共有アプリ」は平成28年度、情報技術研究部の夏季休業中の課題として作成したものです。<br>
  勝手にデータが吹っ飛ぶかもしれません。正常に動かないかもしれません。そのようなことをご理解ご了承のうえでご使用ください。
<h2>その他いろいろ</h2>
正しい使い方をしてください。
訳のわからない本の情報を大量に追加する、本の情報ではないデータを挿入する（SQLインジェクション）等は行わないでください。<br />
<h2>まとめ</h2>
通常の使い方をしていただければおそらく何も問題は起きないと思います。
ぜひ、便利に使ってください。