<form action="/registration/insert" method="GET" name="registration">
<br />
<p>
最低限「ISBN番号」「書名」を入力してください。
</P>
<br />
<p>
    ISBN番号（ISBN番号13桁を半角数字のみ,区切り文字なし）:
    <input type="text" name="isbn">
</p>
<p>
    書名:
    <input type="text" name="title">
</p>
<p>
    著者:
    <input type="text" name="author">
</p>
<p>
    出版社:
    <input type="text" name="publisher">
</p>
<p>
    出版年月日（YYYY-MM-DD 例：2000-01-01）(半角数字のみ):
    <input type="text" name="publication_year">年
    <input type="text" name="publication_month">月
    <input type="text" name="publication_date">日
</p>
<br />
<p>
    <input type="submit" value="登録">
    <input type="reset" value="リセット">
</p>
<P>
    <a href="/">「本評価共有アプリ」メインページへ移動</a>
</P>
</form>
