<form action="/receive" method="GET">
<p>
    ISBN番号:
    <input type="text" name="isbn">
</p>
<p>
    書名:
    <input type="text" name="bookTitle">
</p>
<p>
    著者:
    <input type="text" name="bookAuthor">
</p>
<p>
    出版社:
    <input type="text" name="bookPublisher">
</p>
<p>
    出版年月日（YYYY-MM-DD）:
    <input type="text" name="publication_year">年
    <input type="text" name="publication_month">月
    <input type="text" name="publication_date">日
</p>
<br />
<p>
    <input type="submit" value="登録">
</p>
<P>
    <a href="/">「本評価共有アプリ」メインページへ移動</a>
</P>
</form>
