<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>登録 | 本評価共有アプリ</title>
</head>
<body>
  <h1>登録</h1>
    <P>
    <a href="/index">「本評価共有アプリ」メインページへ移動</a>
    </P>
</body>
</html>
